@import '../../../styles/settings.scss';

.catCont {
  width: 100%; // Ustawienie szerokości kontenera na 100%
  padding: 0; // Usuń ewentualne paddingi
  margin-left: 50%;
  padding-bottom: 4rem;
  margin: 0; // Usuń ewentualne marginesy
  position: absolute;
  bottom: 15%;
  left: 47%;
}
button {
  border: none;
  background-color: transparent;
  cursor: none;
}
.title {
  margin-left: 18.5%;
  margin-bottom: 2%;
}
.liCont {
  list-style: none;
  display: flex;
  width: 100%; // Ustawienie szerokości na 100%
  padding: 0; // Usuń paddingi
  margin: 0; // Usuń marginesy
}

.liCont li {
  display: inline-block; // Ustaw elementy w jednej linii
  margin: 0 1.3rem;
  padding: 0rem 4rem;
  font-size: 1.5rem;
  border: 2px solid $color-dark;
  border-radius: 0.5rem;
  background-color: $color-light; // Tło przycisku
  text-align: center; // Wyśrodkowanie tekstu wewnątrz <li>
  cursor: pointer; // Kursor jak na przyciskach
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $color-dark;

    color: $color-main;
  }
  &.active {
    background-color: $color-main;
    color: $color-dark;
  }
}
