@import '../../../styles/settings.scss';

.catNav {
  background-color: $color-dark;
  color: $color-main;
  width: 100%;
  box-shadow: 0 2px 100px rgba($color-main, 0.3);
  // Padding to provide some space around the content
}
.p {
  display: flex; // Use flexbox to align items in one row
  align-items: center; // Center items vertically
  justify-content: center;
  padding: 10px 20px;
  margin-left: 260px;
}
.title {
  margin-top: 1% !important;
  font-size: 1.2rem;
  color: $color-main;
  margin: 0;
}
.catList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-left: 125px;
  gap: 48px;
  list-style: none;
}

.catItem {
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: rgba($color-main, 0.3);
  }
}

.active {
  background-color: $color-main;
  color: $color-light;
}

@media (max-width: 768px) {
  .title {
    display: none;
  }
  .catItem {
    font-size: 10px;
    padding: 10px 15px;
  }
  .catList {
    padding-left: 0;
    gap: 10px;
  }
}
