@import '../../../styles/settings.scss';

.navbar {
  background-color: $color-dark;
  font-size: 1rem;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: $color-dark; // Tło z przezroczystością
  backdrop-filter: blur(0px); // Brak efektu blur na początku
  transition: background 0.3s ease, backdrop-filter 0.3s ease;
  &.scrolled {
    background: rgba($color-dark, 0.7); // Zwiększona przezroczystość tła
    backdrop-filter: blur(10px); // Efekt blur po przewinięciu
    .content {
      color: $color-main;
    }
  }

  .content {
    color: $color-light;
    position: relative;
    &:hover {
      color: $color-main;
    }
  }
  .cart {
    color: $color-main;
    font-size: 1.3rem;
  }
  .cartCount {
    font-size: 13px;
    position: absolute;
    top: 55%;
    left: 60%;
    color: $color-dark;
    background-color: rgba($color-light, 0.7);
    border-radius: 50%;
    padding: 5px; // Adjust padding to make it a circle
    width: 15px; // Ensure the width is the same as height for a perfect circle
    height: 15px; // Ensure the height is the same as width for a perfect circle
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .colapse {
    margin-left: 0;
    padding-left: 0;
  }

  .contLog {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }
  .heart {
    font-size: 20px;
  }
}
