@import '../../../styles/settings.scss';

.navbar {
  background-color: $color-dark;
  font-size: 1rem;
  .content {
    color: $color-light;
    &:hover {
      color: $color-main;
    }
  }
  .cart {
    color: $color-main;
    font-size: 1.3rem;
  }
}
