.cartContainer {
  padding: 20px;
}

.cardCart {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .cardImg {
    width: 100%;
    height: auto;
  }
  .cardTitle {
    font-size: 1.2rem;
  }
  .cardPrice,
  .cardTotal {
    font-size: 1rem;
  }
}

.summary {
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #ddd;
  h5 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  p {
    font-size: 1rem;
    margin: 5px 0;
  }
}
