.cartContainer {
  padding: 20px;
}
.contImg {
  display: grid;
  place-items: center;
}
.cartImg {
  justify-content: center;
  width: 50% !important;
  height: auto !important;
  border: none !important;
}
.buttonDan {
  font-size: 12px;
}
.cardCart {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardTitle {
  font-size: 1rem;
}
.cardPrice,
.cardTotal {
  font-size: 0.7rem;
}
.productCard {
  border: none;
}
.summary {
  margin-top: 20px;
  padding: 10px;
  h5 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  p {
    font-size: 1rem;
    margin: 5px 0;
  }
}
