@import '../../../styles/settings.scss';

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.title {
  text-align: center;
  color: grey;
}
.slider {
  height: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%; // Ustawienie szerokości na 100%
  background-color: $color-light;
  padding: 15px;
  border-radius: 10px;
  place-items: center;
  /* Dodanie efektu rozmycia na rogach */
  &:before,
  &:after {
    content: '';
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    width: 50px;
    background: linear-gradient(to right, rgba($color-light, 0), $color-light);
    filter: blur(10px); // Możesz dostosować wartość
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

.slideTrack {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 200%; // Ustawienie szerokości na 800% szerokości pojedynczego slajdu
}

.slide {
  flex: 0 0 auto;
  height: 100px;
  width: 12.5%; // Ustawienie szerokości slajdu na 1/8 szerokości kontenera
}
