@import '../../../styles/settings.scss';
.oclock {
  display: flex;
  justify-content: center; // Wyśrodkowanie h1 wewnątrz .oclock
  align-items: center; // Wyśrodkowanie h1 w pionie, jeśli potrzebne
  color: $color-main;

  h1 {
    margin: 0; // Usuń domyślne marginesy
    display: flex;
    align-items: center; // Wyśrodkowanie ikony i tekstu w pionie
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    padding-right: 8px;
  }
}
