@import '../../../styles/settings.scss';

.title {
  text-align: center;
  font-size: 3.5rem;
  font-family: $font-text;
  font-weight: 400;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button {
  text-align: center;
}
.price {
  background-color: white;
  margin: 15px auto;
  padding: 10px 16px;
  width: 200px;
  border-left: 5px solid $color-success !important;
  border-radius: 5px;
  box-shadow: 0px 0px 0.5px;
  .label {
    font-size: 18px;
    color: grey;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0px;
  }
  .oldPrice {
    color: $color-dark;
    margin-bottom: 0;
    font-weight: 750;
    text-decoration: line-through red 2px;
    transform: rotate(15deg);
    right: 10%;
    top: 40%;
    display: inline-block;
    position: absolute;
  }
  .newPrice {
    position: relative;
    font-size: 24px;
    color: $color-success;
    font-weight: 900;
    text-align: start;
  }
}
.colProd {
  border-radius: 50%;
}

.carousel {
  width: 100%;
  max-height: 300px;
  overflow: hidden;
}

.carouselImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.rowCard {
  text-align: center;
  margin-top: 5% !important;
}
.contCard {
  border-bottom-right-radius: 25% !important;
  box-shadow: 0 2px 4px rgba($color-dark, 0.7);
  border-bottom: none;
  .contImg {
    &:hover {
      transition: 0.5s;
      .cardImage {
        cursor: pointer;
        filter: brightness(0.8) blur(3px);
      }
      .overlay {
        transition: 1s;
        display: block;
      }
    }
    .overlay {
      position: absolute;
      top: 23%;
      left: 13%;
      display: none;
      z-index: 1;
    }
    .cardImage {
      position: relative;
      width: 100%;
      height: 250px;
      object-fit: cover;
      filter: brightness(1);
      transition: filter 0.3s ease;
    }
  }
}
.pagination {
  text-align: center;
  justify-content: center;
  gap: 10px;
}

.pagesTitle {
  color: $color-dark;
}
.pagination > li > a {
  background-color: $color-dark;
  color: $color-light;
  border: none;
  gap: 10px;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: $color-dark;
  background-color: $color-main;
  border-color: $color-main;
}
.pagination > li.active > a,
.pagination > li.active > span,
.pagination > li.active > a:hover,
.pagination > li.active > a:focus,
.pagination > li.active > span:hover,
.pagination > li.active > span:focus {
  color: $color-light !important;
  background-color: $color-main !important;
  border-color: $color-main !important;
}
